*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{font-size: 16px; line-height: 24px; color: #000;
     background: url(../images/background1.jpg) no-repeat center top;
     font-family: 'SBAggroM';
     background-size: cover;}
header a{color: white;
         }
.header_in{width: 1320px;
           margin: auto;
           margin-top: 50px;
           height: 135px;
           }
.header_in img{float: left;
               width: 150px;
                margin-left: 62px;}
.header_in ul{float: left;
                padding-top: 50px;
                position: relative;
                margin-left: 140px;}
.header_in ul li{float: left;
                 margin: 0px 60px;}

.banner{width: 1320px;
        margin: auto;
        }
.banner img{margin: -100px auto 0;
                width: 90%;
                display: block;}
.button a{display: inline-block;}
.button_1{background: url(../images/Button_1.png) no-repeat;
          width: 250px; height: 100px;
        margin-left: 63px;}
.button_1:hover{background: url(../images/Button.png) no-repeat;}
.button a{float: left;}
.button_2{background: url(../images/Button_4.png) no-repeat;
        width: 250px; height: 100px;}
.button_2:hover{background: url(../images/Button_3.png) no-repeat;}
.buttom_m{display: none;}

.menu{width: 1320px;
      margin: auto;
      margin-top: 200px;
      text-align: center;}
.menu_the{margin-bottom: 80px;}

.menu_3 ul li{float: left;
            width: 24.25%;
            position: relative;
            box-shadow: 5px 5px 20px black;
            margin-right: 1%;
            margin-bottom: 1%;}
.menu ul li:nth-child(4n){margin-right: 0px;}
.menu_1{width: 1320px;
           margin: auto;
          }
.menu_1 ul li{width: 33.33%;
                float: left;
              text-align: center;
              color:white;
              margin-top: 200px;}
.menu_1 h2{padding: 30px;
            font-weight: 100;
            font-size: 30px;}
.menu_2{background: url(../images/Menu_1-1.png) no-repeat;
        background-size: cover;
        padding: 15px 0px;
        
        width: 100%;
        text-align: center;}
.menu_1 p{font-size: 18px;}
.menu ul li{color: white;}
.menu_2 h2{font-weight: 100;}
.menu_2 h2{font-weight: 100;}
.menu_3 ul img{width: 100%;
                display: block;
               }
span{color: #b52026;}

.referral{margin: auto;
          text-align: center;
          width: 1320px;
          }
.referral img{padding: 200px 0px 50px 0px;}
.referral_k{
            margin: auto;
            }
.referral_3{
            
            text-align: right;
        }
.referral_3 h1{font-size: 50px;
               color: #b8793d;}
.referral_3 p{color: white;
              font-size: 25px;
              line-height: 50px;
              padding-top: 30px;
              }
.referral_3{width: 1320px;
            margin: auto;
            padding-top: 300px;}
.referral_4{width: 1320px;
        margin: auto;
        padding-top: 200px;}
.referral_4 h1{font-size: 50px;
               color: #b8793d;}
.referral_4 p{color: white;
        font-size: 25px;
        line-height: 50px;
        padding-top: 30px;}
.referral_4 img{padding-top: 20px;}
.referral_color{padding-right: 40px;}
.referral_ba1{background: url(../images/referral_1.png) no-repeat center top;
                width: 100%;
                height: 870px;}
.referral_ba2{background: url(../images/referral_2.png) no-repeat center top;
                        width: 100%;
                        height: 970px;
                margin-top: 140px;}           
.Startups{width: 1320px;
          margin: auto;
          text-align: center;
          margin-bottom: 70px;}
.Startups_img1 ul img{width: 100%;}

.Startups_img1{width: 85%;
                margin: auto;}

.Startups_ba1{background: url(../images/Startups1_background.png) no-repeat center top;
             width: 100%;
             height: 700px;
             margin-bottom: 170px;}
.Startups_wi{width: 1320px;
             margin: auto;
             text-align: center;}
.Startups_img1 ul li{float: left;
                      width: 25%;
                    text-align: center;}
.Startups_tit{margin: 0px 0px 100px 0px;
                padding-top: 70px;
                }

.event{width: 1320px;
        margin: auto;
        text-align: center;
        margin-top: 150px;
        margin-bottom: 100px;}
.event_a{width: 1320px;
        margin: auto;
        text-align: center;
        margin-bottom: 500px;}
.event_img li{float: left;
               width: 33.33%;}
.event_t li{float: left;
        width: 33.33%;
        color: white;
        font-size: 20px;}
.event_img{ height: 320px;}
.footer{background: url(../images/footer_background.png) no-repeat center top;
        height: 620px;
        width: 100%;}
.footer_a{width: 1320px;
          margin: auto;
        }
.footer_a h5{text-align: center;
             padding-top: 70px;
             padding-bottom: 70px;}
.footer_a li{color: white;
             float: left;
             }

.footer_a ul{height: 30px;
          }
.footer_1 li{width: 23%;
             padding-bottom: 30px;
                padding-left: 120px;}
.footer_2{float: left;
           margin-left: 102px;}
.footer_2 ul li{padding-left: 20px;}
.footer_1 a{color: white;}
.header_in a:hover{color: #b52026;}
.footer_1 a:hover{color: #b52026;} 
.footer_2 img:hover{opacity: 0.4;}
.menu_2 p{font-family: 'SBAggroL';
          font-weight: bold;
          font-size: 14px;} 
.menu_2 h3{font-size: 20px;
        font-family: 'SBAggroL'}
.event_m{display: none;}
.tab_m{display: none;}
.referral_k img{display: none;}


@media (max-width:1319px){
        .header_in{width: 100%;}
        .banner{width: 100%;}
        .menu{width: 100%;}
        .menu_1{width: 100%;}
        .referral{width: 100%;}
        .Startups{width: 100%;}
        .Startups_wi{width: 100%;}
        .event{width: 100%;}
        .event_a{width: 100%;}
        .footer_a{width: 100%;}
        .tab_wi{width: 100%;}
        .referral_3{width: 100%;}
        .referral_3 p{padding-right: 30px;}
        .referral_3 h1{padding-right: 30px;}
        .referral_4 p{padding-left: 30px;}
        .referral_4 h1{padding-left: 30px;}
        .referral_4{width: 100%;}
        .referral_4 img{padding-left: 30px;}
}
@media (max-width:1269px){
        .menu ul li{width: 32.66%;}
        .menu ul li:nth-child(3n){margin-right: 0px;}
        .menu ul li:nth-child(4n){margin-right: 1%;}
        .menu ul{overflow: hidden;}
        .menu{height: auto;}
        .menu_1 ul li{width: 50%;}
        .menu_1 li:nth-child(3){margin-left: 25%;
                                margin-top: -10px;}
        .referral_k{overflow: hidden;}
        .Startups_ba1{height: auto;}
        .tab{height: auto;}
        .Startups_img1 ul li{width: 50%;
                                padding-bottom: 30px;}
        .Startups_wi{width: 74%;}
                .Startups_ba1{overflow: hidden;
                      background-size: cover;}
        .footer_2{margin-left: 0px;
                float: none;}
        .footer_2 ul li{padding-left: 0px;
                        padding-right: 20px;}
        
        
}
@media (max-width:1077px){
        .header_in img {
                float: none;
                margin-left: 0;
                display: inline-block;
                }
        .header_in1{text-align: center;}
        .header_in ul{float: none;
                        margin-left: 0;
                        }
        .header_in ul li{margin: 0px;
                        width: 25%;
                        text-align: center;}
}
@media (max-width:1101px){
        .tab_a{height: auto;}
        .tab_a ul li{padding-left: 0;
                        text-align: center;}
        .tab_a img{float: none;
                   padding-left: 0;}
        .tab_b img{float: none;
                padding-left: 0;
                margin-top: 30px;}
        .tab_a1{height: auto;
                text-align: center;}
        .tab_a2{width: 100%;
                margin: auto;
                height: auto;
                text-align: center;}
        .tab_a ul{float: none;}
        .tab_b ul li{text-align: center;
                padding-left: 0px}
        .tab_b ul{float: none;
                padding-bottom: 30px;}
        .referral_k img{display:block;
                        width: 508px;
                        margin: auto;}
        .referral_ba1, .referral_ba2{display: none;}
        .footer_a ul{width: 90%;
                margin: auto;}
                .footer_1 li{width: 50%;
                        padding-left: 0px;}
        }
@media (max-width:925px){
        .event_a{display: none;}
        .event_m{display: block; 
                text-align: center;}
        .event_m a{color: white;
                   font-size: 28px;
                   line-height: 40px;}
        #tab02 ul{display: none;
                  }
        .tab_m{display: block;}
        .swiper-slide img{width: 80%;}
}
@media (max-width:925px){
        .Startups_img1 ul li{width: 50%;
                padding-bottom: 30px;}
        .Startups_wi{width: 100%;}
        .menu_1 ul li{width: 100%;
                      margin: 50px 0px;}
        .menu_1 li:nth-child(3){margin-top: 0px;
                                margin-left: 0px;}
        .menu_3 ul li{width: 48.5%;}
        .menu_3 ul li:nth-child(3n){margin-right: 0px;}
        .menu_3 ul li:nth-child(2n){margin:0 1% 1% 1%}
        .menu_3 ul li:nth-child(2n-1){margin-left: 1%; margin-right: 0px;}
        .menu{width: 85%;}
        .slider .slick-slide div img{
                width: 312px;
                margin: auto;
        }
}
@media (max-width:745px){
        .menu{width: 100%;}
        .Startups_tit img{width: 80%;}
}
@media (max-width:667px){
        .event_m a{color: white;
                font-size: 23px;
                line-height: 40px;}
}
@media (max-width:605px){
        .banner> img{display: none;}
        .buttom_m{display: block;}
        .button div a{width:40%;
                        background-position: center center;
                        background-size: contain;
                        margin: 0 6.66%;}
        .button div .button_1{
                margin-right: 0;}
        .button_2:hover, .button_1:hover{ background-position: center center;
                background-size: contain;}
        .menu_2 h2{font-size: 15px;
                   line-height: 15px;}
        .menu_2 h3{font-size: 15px;
                   line-height: 15px;}
        .menu_2 p{font-size: 10px;
                  line-height: 15px;}
                  .footer_a ul{height: auto;}
        .footer_1 li{float: none;
                     padding-bottom: 10px;
                        width: 100%;}
                  
}
@media (max-width:509px){
        .referral_k img{width: 90%;}
        .tab_a2 ul li{font-size: 18px;}
        .tab_b ul li{font-size: 18px;}
}
@media (max-width:377px){
        .Startups img{width: 90%;}
        .menu_1 ul img{width: 100%;}
        .menu h6 img{width: 90%;}
        .tab_a ul li{line-height: 40px;}
        .tab_b ul li{line-height: 40px;}
        .tabnav li a{width: 90px;}
}